@import url(https://fonts.googleapis.com/css?family=Alata);
* { box-sizing: border-box; }

.nav-bar {
    background-color: black;
}
.nav-bar > ul {
    list-style: none;
    padding: none;
}
.nav-bar > ul > li {
    display: inline-block;
    padding: 20px;
}
.nav-bar > ul > li:hover {
    background-color: darkgray;
}
.nav-bar > ul > li > a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Alata';
}
.normal {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Alata';
    padding: 20px;
}
