@import url(https://fonts.googleapis.com/css?family=Alata);

* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Alata';
}

.nav-bar > ul {
  background-color: rgb(50, 50, 50);
  padding: 0;
  margin: 0;
}

.nav-bar > ul > li > a {
  padding: 20px;
  display: inline-block;
  color: white;
  text-decoration: none;
  font-family: 'Alata';
  margin: 0;
}

.nav-bar > ul > li {
  display: inline-block;
}

.nav-bar > ul > li:hover {
  background-color: rgb(100, 100, 100);
}

.page-title {
  background-color: black;
  color: white;
  font-size: 30px;
  padding: 20px;
  margin: 0;
}

.member-profiles {
  padding-top: 30px;
  margin: 0;
  padding-bottom: 30px;
}

.profile {
  width: 200px;
  border-radius: 100000px;
  display: block;
  margin: auto;
}

.github-username {
  text-align: center;
}

.title {
  text-align: center;
}

.member-content {
  text-align: center;
  margin-bottom: 50px;
}

.about {
  text-align: center;
}

.github-profile-link {
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  display: block;
  margin: auto;
}

.tutorial {
  /* background-position: center;
  background-size: 400px;
  width: 50%;
  text-align: center;
  border: 2px solid rgb(50, 50, 50);
  padding: 20px;
  vertical-align: middle; */
  position: absolute;
  border: 2px solid rgb(50, 50, 50);
  width: 100%;
  text-align: center;
}

.html-tutorial-image {
  width: 300px;
  height: 300px;
  display: block;
  margin: auto;
}

.py-tutorial-image {
  width: 211px;
  height: 71px;
  display: block;
  margin: auto;
}

.tutorial-link {
  color: black;
  text-decoration: none;
}

.tutorial-link:hover {
  text-decoration: underline;
}

.tutorial-module {
  text-align: center;
  width: 30%;
  background-color: rgb(197, 197, 197);
  padding: 20px;
  border: 2px solid rgb(100, 100, 100);
}

#messages{
  list-style-type: none;
}

.send-box{
  position: absolute;
  bottom: 24px;
  left: 16px;
}
.logo-image {
  width: 250px;
  display: block;
  margin: auto;
}