@import url(https://fonts.googleapis.com/css?family=Alata);
* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Alata';
}
.nav-bar > ul {
  background-color: rgb(50, 50, 50);
  padding: 0;
  margin: 0;
}
.nav-bar > ul > li > a {
  padding: 20px;
  display: inline-block;
  color: white;
  text-decoration: none;
  font-family: 'Alata';
  margin: 0;
}
.nav-bar > ul > li {
  display: inline-block;
}
.nav-bar > ul > li:hover {
  background-color: rgb(100, 100, 100);
}
.page-title {
  background-color: black;
  color: white;
  font-size: 30px;
  padding: 20px;
  margin: 0;
}
.member-profiles {
  padding-top: 30px;
  margin: 0;
  padding-bottom: 30px;
}
.profile {
  width: 200px;
  border-radius: 100000px;
  display: block;
  margin: auto;
}
.github-username {
  text-align: center;
  padding-bottom: 20px;
}
.title {
  text-align: center;
<<<<<<< HEAD
=======
}
.member-content {
  text-align: center;
  margin-bottom: 50px;
>>>>>>> ca2fd01e0c2ea4df12d3dfdeedc535dab75b638f
}
.member-content {
  text-align: center;
  margin-bottom: 50px;
}