*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    margin: 0;
}

table{
    background-color: rgb(27, 27, 27);
    width: 100%;
}

#menu-nav{
    margin-right: 16px;
}

#menu-nav a{
    text-decoration: none;
    color: white;
    margin: 5px;
}

#menu-title{
    margin-left: 16px;
    color: white;
}

#content{
    margin-left: 8px;
}

#contact{
    background-color: #f59042;
    color: #3e515c;
    text-decoration: none;
    border: 3px solid black;
    font-size: 54px;
}

.align-right{
    text-align: right;
}

.message-box{
    list-style-type: none;
}

.send-box{
    position: absolute;
    bottom: 24px;
    left: 16px;
}

/* #messages li{

} */

.chat-delete{
    opacity: 0;
}

.chat-delete:hover{
    opacity: 100;
}
